@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Global Styles */
:root {
	--blue: #2874f0;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	background-color: rgb(240, 240, 240);
}

a {
	text-decoration: none;
	color: white;
}

li {
	padding: 5px;
	display: inline-block;
	list-style-type: none;
}

input {
	padding: 5px;
	outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input:focus {
	outline: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

/* General Menu Card Styles */

.Options > a:hover {
	color: var(--blue);
	cursor: pointer;
	background-color: #e7e7e7;
}

.Options:before {
	position: absolute;
	content: "";
	border-top: 9px solid white;
	border-left: 9px solid white;
	border-bottom: 9px solid transparent;
	border-right: 9px solid transparent;
	top: -7px;
	align-self: center;
	transform: rotate(45deg);
	z-index: 4;
}

.Options {
	top: 6.5vh;
	width: 12vw;
	margin-left: -3vw;
	background-color: white;
	color: black;
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 5;
	border-radius: 3px;
	box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
	display: none;
}

.Options > a {
	display: flex;
	align-items: center;
	width: 100%;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: black;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.Options a:hover {
	color: var(--blue);
}

.Options a img {
	margin-right: 0.3vw;
	height: 20px;
}

/* Navbar Styles */

nav {
	position: fixed;
	background-color: var(--blue);
	color: white;
	width: 100%;
	height: 6.5vh;
	z-index: 50;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* 1st Item. Content Flipkart Logo */
.itemLogo {
	padding: 9px 0px;
}

.flipkartTextImg {
	display: block;
	height: 20px;
}

.explorePlus {
	display: inline;
	font-size: 0.7em;
}

.explorePlus span {
	display: inline-block;
	color: white;
	font-style: italic;
}

.plus {
	height: 10px;
}

.explorePlus i {
	display: inline-block;
	font-weight: 800;
	color: #ffe500;
	font-style: italic;
	padding: 0;
}

/* 2nd Item. Search Bar */
.search {
	margin-left: 0.5em;
	margin-right: 11vw;
	background: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.searchArea {
	font-size: 0.9em;
	width: 29.4vw;
	border: none;
	background-color: white;
}

.searchBtn {
	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
	cursor: pointer;
}

.searchBtn svg {
	width: 20px;
	height: 20px;
}

/* 3rd Item. Login Btn */
.login > a:after {
	content: "";
	display: block;
	position: fixed;
	height: 20px;
	width: 6vw;
}

.login > a {
	cursor: pointer;
	font-size: 1em;
	padding: 5px 2vw;
	color: var(--blue);
	background-color: white;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

/* Dropdown for login */
.login a:hover ~ .Options,
.Options:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 5;
}

.signUp {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}

.signUp span,
.signUp a {
	padding: 10px 15px;
	font-size: 0.9em;
	font-weight: 500;
}

.signUp a {
	color: var(--blue);
}

/* 4th Item. More */
.more {
	margin-left: 1vw;
}

.more > a:after {
	content: "";
	display: block;
	position: fixed;
	height: 20px;
	width: 3vw;
}

.more svg {
	position: relative;
	left: 6px;
	width: 4.7px;
	height: 8px;
	transform: rotate(-90deg);
}

.more .Options a:first-child {
	border: 0;
}

/* Dropdown for More */
.more:hover .Options,
.more .Options:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: -5vw;
	z-index: 5;
}

.more:hover svg {
	transform: rotate(90deg);
}

/* 5th Item. Cart */
.cart {
	margin-left: 1vw;
	cursor: pointer;
}

.cart svg {
	height: 14px;
	width: 14px;
}

/* Categories Section Styles */
.categories {
	padding: 0 11vw;
	position: relative;
	top: 6.5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 12vh;
	background-color: white;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.category {
	cursor: pointer;
	text-align: center;
	font-size: 0.88em;
}

.category .categoryName::after {
	content: "";
	position: fixed;
	display: block;
	height: 0.9vh;
	width: 4vw;
}

.category:hover span > svg {
	transform: rotate(90deg);
}

.category img {
	display: block;
	width: 4vw;
}

.category svg {
	transform: rotate(-90deg);
}

.category .Options {
	top: 12vh;
	margin-left: -4vw;
}

.category .Options .OptionsMainMenu .mainOption a,
.category .Options .OptionsMainMenu .mainOption .OptionsSubMenu a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: black;
	padding: 18px;
}

.OptionsSubMenu a {
	padding: 0px 1vw;
	background-color: white;
}

.category:hover .Options {
	display: flex;
}

.mainOption:hover .OptionsSubMenu {
	display: flex;
	flex-direction: column;
}

.OptionsSubMenu {
	display: none;
}

.OptionsSubMenu > span {
	display: block;
	width: max-content;
	font-size: 0.8em;
	font-weight: 300;
	background-color: white;
	padding: 5px;
}

.mainOption > a:hover,
.OptionsSubMenu a:hover {
	color: #2874f0 !important;
	background-color: #e7e7e7;
}

.OptionsMainMenu .OptionsSubMenu {
	position: absolute;
	left: 12vw;
	top: 0vh;
}

/* Deals of the day section styles */
.dealsContainer,
.booksContainer {
	position: relative;
	top: 6.8vh;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2vh 5vw;
}

.dealsContainer {
	flex-direction: row;
}

.clockAndDeals {
	height: 100%;
	width: 87.5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.dealsHeader {
	background-color: white;
	border-bottom: 2px solid rgb(224, 224, 224);
	color: black;
	top: 9vh;
	padding: 1vh 1vw;
	padding-right: 2vw;
	font-size: 1.2em;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.timer,
.shopNow {
	font-weight: 200;
	font-size: 0.8em;
}

.dealsHeader img {
	height: 2.5vh;
	padding: 0 1vw;
}

.dealsHeader button {
	margin-left: auto;
	background-color: #2874f0;
	color: white;
	padding: 1vh 0.8vw;
	font-weight: 700;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.booksContainer .dealsHeader button {
	position: relative;
	top: 1vh;
}

.dealsCardsContainer {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: white;
}

.booksContainer .dealsCardsContainer {
	padding-top: 5px;
}

.booksContainer {
	padding-top: 0;
}

.arrow {
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 1vw;
	transform: translateY(-50%);
	top: 50%;
	font-size: 3em;
	width: 3vw;
	height: 12vh;
	background-color: #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.card {
	display: flex;
	align-items: center;
	flex-direction: column;
}
f .card img {
	width: 10vw;
}

.card > span {
	padding: 1vh 2vw;
	display: block;
	white-space: nowrap;
}

.card span span {
	display: flex;
	padding: 3px 0;
	justify-content: center;
}

.itemDiscount {
	color: rgb(0, 156, 0);
	font-size: 0.85em;
	font-weight: 300;
}

.itemCategory {
	font-size: 0.75em;
	color: grey;
}

.shopNow {
	display: block;
	font-size: 0.7em;
}

.booksContainer .dealsHeader {
	flex-direction: column;
}

.mainHeader,
.mainHeader ~ span {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

/* Advert Styles*/
.dealsContainer::after {
	position: absolute;
	background-image: url("Assets/advert.png");
	background-size: 100% 100%;
	height: 90%;
	width: 12.5%;
	display: block;
	content: "";
	right: 4.5vw;
	border: 6px solid rgb(240, 240, 240);
	border-top: 0;
	border-bottom: 0;
}

/* Basic Media Queries */

@media only screen and (max-width: 1023px) {
	* {
		font-size: 15px;
	}
	.category img {
		width: 9vw;
	}

	.category span {
		font-size: 0.75em;
	}

	.dealsContainer::after {
		height: 85%;
	}

	.searchBtn svg {
		width: 15px;
		height: 15px;
	}

	.flipkartTextImg {
		height: 15px;
	}

	.plus {
		height: 8px;
	}

	.cart svg {
		height: 10px;
		width: 10px;
	}

	.more svg {
		height: 6px;
		width: 3.8px;
	}

	.Options a img {
		height: 15px;
	}

	.arrow {
		right: 1.7vw;
		width: 4vw;
	}
}

@media only screen and (max-width: 650px) {
	* {
		font-size: 10px;
	}

	.searchArea {
		font-size: 0.8em;
	}
	.searchBtn svg {
		width: 10px;
		height: 10px;
	}
	.flipkartTextImg {
		height: 10px;
	}
	.plus {
		height: 5px;
	}
	.cart svg {
		height: 7px;
		width: 7px;
	}
	.more svg {
		height: 4px;
		width: 3px;
	}
	.Options a img {
		height: 10px;
	}

	.dealsContainer::after {
		height: 92.5%;
	}

	.arrow {
		right: 3.8vw;
	}
}
