@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Global Styles */
:root {
	--blue: #2874f0;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	background-color: rgb(240, 240, 240);
}

a {
	text-decoration: none;
	color: white;
}

li {
	padding: 5px;
	display: inline-block;
	list-style-type: none;
}

input {
	padding: 5px;
	outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input:focus {
	outline: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

/* Navbar Styles */

nav {
	position: fixed;
	background-color: var(--blue);
	color: white;
	width: 100%;
	/* overflow: hidden; */
	height: 6.5vh;
	z-index: 50;
}

ul {
	display: flex;
	align-items: center;
}

/* 1st Item. Content Flipkart Logo */
.itemLogo {
	padding: 9px 0px;
	margin-left: 15vw;
}

.flipkartTextImg {
	display: block;
}

.explorePlus {
	display: inline;
	font-size: 0.7em;
}

.explorePlus span {
	display: inline-block;
	color: white;
	font-style: italic;
}

.explorePlus i {
	display: inline-block;
	font-weight: 800;
	color: #ffe500;
	font-style: italic;
	padding: 0;
}

/* 2nd Item. Search Bar */
.search {
	margin-left: 0.5em;
	margin-right: 11vw;
	background: white;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.searchArea {
	font-size: 0.9em;
	width: 29.4vw;
	border: none;
	background-color: white;
}

.searchBtn {
	position: relative;
	top: 5px;
	background-color: white;
	cursor: pointer;
}

/* 3rd Item. Login Btn */
.login > a:after {
	content: "";
	display: block;
	position: fixed;
	height: 20px;
	width: 6vw;
}

.login > a {
	cursor: pointer;
	font-size: 1em;
	padding: 5px 2vw;
	color: var(--blue);
	background-color: white;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

/* Dropdown for login */
.login a:hover ~ .Options,
.Options:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 5;
}

.Options > a:hover {
	cursor: pointer;
	background-color: #e7e7e7;
}

.Options:before {
	position: absolute;
	content: "";
	border-top: 9px solid white;
	border-left: 9px solid white;
	border-bottom: 9px solid transparent;
	border-right: 9px solid transparent;
	top: -7px;
	align-self: center;
	transform: rotate(45deg);
	z-index: 4;
}

.Options {
	top: 6.5vh;
	width: 12vw;
	margin-left: -3vw;
	background-color: white;
	color: black;
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 5;
	border-radius: 3px;
	box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
	display: none;
}

.Options > a {
	display: flex;
	align-items: center;
	width: 100%;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: black;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.Options a img {
	margin-right: 0.3vw;
}

.signUp {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}

.signUp span,
.signUp a {
	padding: 10px 15px;
	font-size: 0.9em;
	font-weight: 500;
}

.signUp a {
	color: var(--blue);
}

/* 4th Item. More */
.more {
	margin-left: 1vw;
}

.more > a:after {
	content: "";
	display: block;
	position: fixed;
	height: 20px;
	width: 3vw;
}

.more svg {
	position: relative;
	left: 6px;
	transform: rotate(-90deg);
}

.more .Options a:first-child {
	border: 0;
}

/* Dropdown for More */
.more:hover .Options,
.more .Options:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: -5vw;
	z-index: 5;
}

.more:hover svg {
	transform: rotate(90deg);
}

/* 5th Item. Cart */
.cart {
	margin-left: 1vw;
	cursor: pointer;
}

/* Categories Section Styles */
.categories {
	padding: 0 8vw;
	position: relative;
	top: 6.5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 12vh;
	background-color: white;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.category {
	text-align: center;
	font-size: 0.88em;
}
.category img {
	display: block;
	height: 7vh;
}
